/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.css";

.add-btn{
    font-size: 28px;
}

.edit-form{
    display: inline-block;
}

.edit-form button{
    background-color: transparent;
    border: none;
    color: rgb(158, 0, 0);
}