/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.css";

.dashboard-images img{
    width: 100%;
    height: auto;
}

.invoice-info span{
    font-weight: 700;
}

.add-btn{
    font-size: 28px;
}

.edit-form{
    display: inline-block;
}

.edit-form button{
    background-color: transparent;
    border: none;
    color: rgb(158, 0, 0);
}